body {
  font-family: sans-serif;
}

header {
  border-bottom: 1px solid #34495e;
}

ul.items {
  padding: 0;
  margin: 0;
}

ul.items li {
  float: left;
  height: 200px;
  min-width: 320px;
  text-align: center;
  list-style: none;
  line-height: 100px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  margin: 20px;
}

.loading-footer {
  clear: both;
  text-align: center;
}

.item {
  float: left;
  width: 100%;
}

.item-price {
  font-size: 20px;
  font-weight: bold;
}
